.project-list {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
  justify-content: center;
}

.image {
  background: center no-repeat;
  background-size: cover;
  width: 30%;
  margin: 1%;
  padding-bottom: 30%;
}

.toolbar {
  display: flex;
  padding: 20px;
  justify-content: center;
}

.toolbar button {
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  background-color: rgb(232, 232, 232);
}

@media (max-width: 600px) {
  .image {
    width: 48%;
    padding-bottom: 48%;
  }
}

@media (max-width: 360px) {
  .project-list {
    padding-left: 2%;
    padding-right: 2%;
  }

  .image {
    width: 96%;
    padding-bottom: 96%;
  }
}